In [1]:
from pyspark import SparkConf, SparkContext
sc = SparkContext()

In [2]:
dataset = sc.textFile("/content/sample_data/uber_data")

In [5]:
for line in dataset.take(10):
  print(line)

dispatching_base_number,date,active_vehicles,trips
B02512,1/1/2015,190,1132
B02765,1/1/2015,225,1765
B02764,1/1/2015,3427,29421
B02682,1/1/2015,945,7679
B02617,1/1/2015,1228,9537
B02598,1/1/2015,870,6903
B02598,1/2/2015,785,4768
B02617,1/2/2015,1137,7065
B02512,1/2/2015,175,875

In [6]:
header = dataset.first()
print(header)

dispatching_base_number,date,active_vehicles,trips

In [9]:
eliminate = dataset.filter(lambda line : line != header )

In [11]:
for line in eliminate.take(10):
  print(line)

B02512,1/1/2015,190,1132
B02765,1/1/2015,225,1765
B02764,1/1/2015,3427,29421
B02682,1/1/2015,945,7679
B02617,1/1/2015,1228,9537
B02598,1/1/2015,870,6903
B02598,1/2/2015,785,4768
B02617,1/2/2015,1137,7065
B02512,1/2/2015,175,875
B02682,1/2/2015,890,5506

In [12]:
format_date = "%m/%d/%Y"

In [13]:
import datetime

In [14]:
print(datetime.datetime.strptime("11/14/2024",format_date).strftime("%A"))

Thursday

In [15]:
split = eliminate.map(lambda a : (a.split(",")[0],datetime.datetime.strptime(a.split(",")[1],format_date).strftime("%A"),a.split(",")[3] ))

In [16]:
for line in split.take(10):
  print(line)

('B02512', 'Thursday', '1132')
('B02765', 'Thursday', '1765')
('B02764', 'Thursday', '29421')
('B02682', 'Thursday', '7679')
('B02617', 'Thursday', '9537')
('B02598', 'Thursday', '6903')
('B02598', 'Friday', '4768')
('B02617', 'Friday', '7065')
('B02512', 'Friday', '875')
('B02682', 'Friday', '5506')

In [17]:
combine = split.map(lambda x : ( x[0] + " " + x[1],int(x[2])) )

In [18]:
for line in combine.take(10):
  print(line)

('B02512 Thursday', 1132)
('B02765 Thursday', 1765)
('B02764 Thursday', 29421)
('B02682 Thursday', 7679)
('B02617 Thursday', 9537)
('B02598 Thursday', 6903)
('B02598 Friday', 4768)
('B02617 Friday', 7065)
('B02512 Friday', 875)
('B02682 Friday', 5506)

In [19]:
arrange = combine.reduceByKey(lambda a,b : a+b)

In [20]:
for line in arrange.collect():
  print(line)

('B02764 Thursday', 304200)
('B02682 Thursday', 106643)
('B02598 Thursday', 90333)
('B02682 Friday', 114662)
('B02764 Friday', 326968)
('B02682 Saturday', 120283)
('B02512 Saturday', 15026)
('B02764 Saturday', 356789)
('B02682 Sunday', 82825)
('B02617 Sunday', 91722)
('B02682 Monday', 74939)
('B02617 Monday', 80591)
('B02598 Monday', 60882)
('B02764 Tuesday', 221343)
('B02598 Tuesday', 63429)
('B02617 Wednesday', 94887)
('B02682 Wednesday', 86252)
('B02512 Thursday', 15809)
('B02765 Thursday', 30408)
('B02617 Thursday', 118254)
('B02598 Friday', 93126)
('B02617 Friday', 125067)
('B02512 Friday', 16435)
('B02765 Friday', 34934)
('B02765 Saturday', 36737)
('B02617 Saturday', 127902)
('B02598 Saturday', 94588)
('B02512 Sunday', 10487)
('B02598 Sunday', 66477)
('B02765 Sunday', 22536)
('B02764 Sunday', 249896)
('B02512 Monday', 11297)
('B02764 Monday', 214116)
('B02765 Monday', 21974)
('B02682 Tuesday', 76905)
('B02617 Tuesday', 86602)
('B02765 Tuesday', 22741)
('B02512 Tuesday', 12041)
('B02764 Wednesday', 241137)
('B02765 Wednesday', 24340)
('B02512 Wednesday', 12691)
('B02598 Wednesday', 71956)

In [21]:
sortbyval = arrange.sortBy(lambda a : -a[1])

In [22]:
for line in sortbyval.collect():
  print(line)

('B02764 Saturday', 356789)
('B02764 Friday', 326968)
('B02764 Thursday', 304200)
('B02764 Sunday', 249896)
('B02764 Wednesday', 241137)
('B02764 Tuesday', 221343)
('B02764 Monday', 214116)
('B02617 Saturday', 127902)
('B02617 Friday', 125067)
('B02682 Saturday', 120283)
('B02617 Thursday', 118254)
('B02682 Friday', 114662)
('B02682 Thursday', 106643)
('B02617 Wednesday', 94887)
('B02598 Saturday', 94588)
('B02598 Friday', 93126)
('B02617 Sunday', 91722)
('B02598 Thursday', 90333)
('B02617 Tuesday', 86602)
('B02682 Wednesday', 86252)
('B02682 Sunday', 82825)
('B02617 Monday', 80591)
('B02682 Tuesday', 76905)
('B02682 Monday', 74939)
('B02598 Wednesday', 71956)
('B02598 Sunday', 66477)
('B02598 Tuesday', 63429)
('B02598 Monday', 60882)
('B02765 Saturday', 36737)
('B02765 Friday', 34934)
('B02765 Thursday', 30408)
('B02765 Wednesday', 24340)
('B02765 Tuesday', 22741)
('B02765 Sunday', 22536)
('B02765 Monday', 21974)
('B02512 Friday', 16435)
('B02512 Thursday', 15809)
('B02512 Saturday', 15026)
('B02512 Wednesday', 12691)
('B02512 Tuesday', 12041)
('B02512 Monday', 11297)
('B02512 Sunday', 10487)